*{
    margin:0;
    padding:0;
}
body{
    display:flex;
    flex-direction: column;
    height:100vh;
}
.header{
    display:flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}
.header a{
    margin-right: 20px;
    color:black;
    font-size: 15px;
    text-decoration: inherit;

}
.header a:hover{
    text-decoration: underline;

}
.rightheader{
    display:flex;
    justify-content: space-between;
    align-items: center;
    min-width: 13vw;
    
}
.rightheader .headerapps{
     margin-right: 10px;
}
.mainbody{
    flex: 1;
    display: flex;
    margin-top: 12%;
    flex-direction: column;
}
.mainbody img{
    object-fit: contain;
    height:100px;
}
.searchinput{
    display:flex;
    align-items:center;
    border: 1px solid lightgray;
    height:30px;
    padding:10px 20px;
    border-radius: 999px;
    width:75vw;
    margin: 0 auto;
    margin-top:40px;
    max-width:560px;
}
.searchinput input{
    flex: 1;
    padding: 10px 20px;
    border: none;
    outline:none;
}
.searchinput .material-icons{
    color:gray;
}
.searchbutton{
    margin-top: 30px;
    display:flex;
    justify-content: center;
}
.searchbutton button{
    margin:5px;
    padding:10px 15px;
    background-color: #f8f9fa;
    outline:none;
    border:none;
    cursor:pointer;
}

